.memeContainer {
    position: relative;
    width: 750px;
    height: 500px;
    margin: 20px;
    left: 29%;
}

.memeImage {
    position: absolute;
    height: 100%;
    width: 750px;
}

.memeBottomText {
    bottom: 0
}

.memeTopText {
    top: 0;
}

.deleteButton {
    position: absolute;
    bottom: 0;
    right: 0;
}